In [5]:
import pandas as pd

/tmp/ipykernel_4420/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [6]:
df_green=pd.read_csv('green_tripdata_2019-09.csv',nrows=100)

In [48]:
df_zone=pd.read_csv('taxi+_zone_lookup.csv',nrows=100)

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [4]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df_green, name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [12]:
print(pd.io.sql.get_schema(df_zone, name='zone_taxi_data',con=engine))

CREATE TABLE zone_taxi_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [45]:
df_green_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [49]:
df_zone_iter = pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)

In [46]:
df_green.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [50]:
df_zone.head(n=0).to_sql(name='zone_taxi_data', con=engine, if_exists='replace')

0

In [25]:
from time import time

In [47]:

while True:
    try:
        t_start = time()
        
        df_green = next(df_green_iter)
        
        df_green.lpep_pickup_datetime = pd.to_datetime(df_green.lpep_pickup_datetime)
        df_green.lpep_dropoff_datetime = pd.to_datetime(df_green.lpep_dropoff_datetime)

        df_green.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('Chunk insertado... , tomo %.3f segundos' % (t_end - t_start))
    except StopIteration:
        # Fin del archivo, salir del bucle
        break

Chunk insertado... , tomo 38.992 segundos
Chunk insertado... , tomo 37.005 segundos
Chunk insertado... , tomo 38.420 segundos

/tmp/ipykernel_12525/1701428807.py:5: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = next(df_green_iter)

Chunk insertado... , tomo 38.023 segundos
Chunk insertado... , tomo 16.739 segundos

In [51]:
while True:
    try:
        t_start = time()
        
        df_zone = next(df_zone_iter)

        df_zone.to_sql(name='zone_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('Chunk insertado... , tomo %.3f segundos' % (t_end - t_start))
    except StopIteration:
        # Fin del archivo, salir del bucle
        break

Chunk insertado... , tomo 0.051 segundos

# Queries

## Q3
``` sql
SELECT COUNT(*) AS total_trips
FROM green_taxi_data
WHERE DATE(lpep_pickup_datetime) = '2019-09-18'
  AND DATE(lpep_dropoff_datetime) = '2019-09-18';
```
## Q4
```sql
SELECT DATE(lpep_pickup_datetime) AS pickup_day,
       MAX(trip_distance) AS max_trip_distance
FROM green_taxi_data
GROUP BY pickup_day
ORDER BY max_trip_distance DESC
LIMIT 1;
```
## Q5
```sql
SELECT
    t."Borough",
    SUM(g."total_amount") AS total_amount_sum
FROM
    green_taxi_data g
JOIN
    zone_taxi_data t ON g."PULocationID" = t."LocationID"
WHERE
    DATE(g."lpep_pickup_datetime") = '2019-09-18'
    AND t."Borough" != 'Unknown'
GROUP BY
    t."Borough"
HAVING
    SUM(g."total_amount") > 50000
ORDER BY
    total_amount_sum DESC
LIMIT 3;


```

## Q6

```sql
SELECT
    z_drop."Zone",
    MAX(g."tip_amount") AS max_tip_amount
FROM
    green_taxi_data g
JOIN
    zone_taxi_data z_pick ON g."PULocationID" = z_pick."LocationID"
JOIN
    zone_taxi_data z_drop ON g."DOLocationID" = z_drop."LocationID"
WHERE
    DATE(g."lpep_pickup_datetime") >= '2019-09-01'
    AND DATE(g."lpep_pickup_datetime") <= '2019-09-30'
    AND z_pick."Zone" = 'Astoria'
GROUP BY
    z_drop."Zone"
ORDER BY
    max_tip_amount DESC
LIMIT 1;
```