In [15]:
import pandas as pd

In [16]:
pd.__version__

'2.2.0'

In [17]:
df=pd.read_csv('yellow_tripdata_2021-01.csv',nrows=100)

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [21]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [22]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [23]:
df = next(df_iter)

In [24]:
len(df)

100000

In [25]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [26]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [27]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

KeyboardInterrupt:

In [ ]:
from time import time

In [ ]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('Chunk insertado... , tomo %.3f segundos' % (t_end - t_start))

Chunk insertado... , tomo 42.272 segundos
Chunk insertado... , tomo 47.499 segundos
Chunk insertado... , tomo 69.433 segundos
Chunk insertado... , tomo 39.306 segundos
Chunk insertado... , tomo 38.154 segundos
Chunk insertado... , tomo 38.198 segundos
Chunk insertado... , tomo 39.465 segundos
Chunk insertado... , tomo 39.360 segundos
Chunk insertado... , tomo 37.897 segundos
Chunk insertado... , tomo 38.613 segundos
Chunk insertado... , tomo 37.254 segundos

/tmp/ipykernel_7411/1379386366.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Chunk insertado... , tomo 37.605 segundos
Chunk insertado... , tomo 25.094 segundos

StopIteration: